hr.lg {
    margin-top: $hr-margin-y * 3;
    margin-bottom: $hr-margin-y * 3;
}

.btn {
    border-radius: 4px;
}

.decorative-line-break {
    background-image: url("/wp-content/themes/wp-web-activelivingphysio/assets/dist/images/ActiveLivingPhysio_HeaderAccent.svg");
    background-size: 175px;
    background-position: 50% 85%;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.heading-lines {
    position: relative;

    &::before {
        content: "";
        width: 125px;
        max-width: 100%;
        height: 1px;
        position: absolute;
        top: 50%;
        left: -155px;
        background-color: black;

        @include media-breakpoint-down(sm) {
           display: none;
        }
    }

    &::after {
        content: "";
        width: 125px;
        max-width: 100%;
        height: 1px;
        position: absolute;
        top: 50%;
        right: -155px;
        background-color: black;

        @include media-breakpoint-down(sm) {
           display: none;
        }
    }
}

h2.decorative-line-break .h2.decorative-line-break {
    padding-bottom: 50px;
}

.hover-primary svg {
    width: 200px;
    margin: 0 auto;
    display: block;
}

.hover-primary:hover {
    background-color: theme-color("primary");
    color: white;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        color: white;
    }

    svg {
        #Nail {
            .foreground {
                stroke-dasharray: 200;
                stroke-dashoffset: 200;
                transition: stroke-dashoffset 3s linear;
            }

            .foregroundHover {
                stroke: rgba(256, 256, 256, 1);
                stroke-dashoffset: 0;
            }
        }
    }
}

.home-about-section {
    .text-editor {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        max-width: 600px;
    }
}

.map-contact-section {
    .col-md-4 {
        background: theme-color("grey");

        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        img {
            max-width: 100%;
            width: 125px;
            height: auto;
        }
    }

    @include media-breakpoint-down(sm) {
        padding-bottom: 30px;

        .col-md-4 {
            order: 1;

            > div {
                padding-top: 15px;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

.above-industry-standards {
    .image-side {
        img {
            position: relative;
        }

        .overlay-copy {
            position: absolute;
            background-color: rgba(0, 179, 143, 0.8);
            bottom: 0px;
            padding: 10px;
            max-width: calc(100% - 30px);
            width: 600px;
            color: white;
            font-family: "Lora", sans-serif;

            a {
                color: white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        @include media-breakpoint-down(md) {
            padding-bottom: 30px;
            .overlay-copy {
                bottom: 30px;
            }
        }
    }
}

.lg-collapse {
    .collapse-section {
        .collapse-item {
            .collapse_sub_title {
                font-weight: 500;
            }
            > h2 {
                border: none;
                background-color: rgba(242, 242, 243, 0.6);
                position: relative;
                font-family: "Montserrat", sans-serif;
                padding-right: 65px;
                &::after {
                    content: "";
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    background-image: url("/wp-content/themes/wp-web-activelivingphysio/assets/dist/images/plus.png");
                    top: 28%;
                    right: 20px;
                }
            }
            > div {
                border: none;
                padding-left: 15px;
            }
            @media screen and (max-width: 425px) {
                > div {
                }
            }
        }
        .collapse-item.active {
            > h2 {
                &::after {
                    background-image: url("/wp-content/themes/wp-web-activelivingphysio/assets/dist/images/minus.png");
                }
            }
        }
    }
}

.change-mobile-text-white {
    @include media-breakpoint-down(md){
        .text-white {
            color: #000 !important;
        }
    }
}

.lg-testimonial.carousel .lg-testimonial-controls {
    @include media-breakpoint-down(sm){
        display: none;
    }
}

.two-col-img-80 {
    .grid-2-column {
        img {
            width: 80% !important;
            margin-left: auto;
            @include media-breakpoint-down(sm){
                width: 100% !important;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .page#nails,
    .page#lashes,
    .page#waxing,
    .page#massage {
        section {
            > div {
                padding-top: 1.5rem !important;
                padding-bottom: 1.5rem !important;
            }
            .flexible_grid {
                > div:not(:first-child) {
                    display: none !important;
                }
            }
        }
    }
    .page#about-us {
        section {
            > div:not(.pt-2) {
                padding-top: 1.5rem !important;
            }
            > div:not(.pb-2) {
                padding-bottom: 1.5rem !important;
            }
        }
    }
}

.flexible_svg {
    a {
        color: theme-color("dark");
        &:hover {
            color: theme-color("white");
        }
    }
}
