.gform_wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    .gform_body {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        @include media-breakpoint-down(sm) {
            justify-content: flex-start;
            flex-wrap: wrap;
            .left-fields {
                width: 100%;
            }
        }

        input[type="text"] {
            width: 100% !important;
            max-width: 100%;
        }

        input[type="email"] {
            width: 100% !important;
            max-width: 100%;
        }

        input[type="tel"] {
            width: 100% !important;
            max-width: 100%;
        }

        #input_1_1 {
            margin-top: 0px;
        }

        #input_1_4 {
            height: 169px;
        }
    }
    .gform_footer {
        margin-top: 0px !important;
    }
    input[type="submit"] {
        margin-left: 16px !important;
    }
    @include media-breakpoint-down(sm) {
        input[type="submit"] {
            margin-left: 0px !important;
        }
    }
}

.top-banner {
    .form_content {
        .gform_wrapper {
            padding: 20px 55px;
            background-color: rgba(255, 255, 255, 0.6);
            .gform_heading {
                margin-bottom: 0px;
                .gform_title {
                    font-family: montserrat;
                    font-size: 1.31em;
                    margin-bottom: 0px;
                    color: theme-color("dark");
                }
            }
            .gform_title {
                color: theme-color("white");
            }
            .gform_footer {
                padding-top: 0;
            }
            input[type="submit"] {
                margin-left: 0px !important;
                background-color: theme-color("dark-grey");
                border-color: theme-color("dark-grey");
                &:focus {
                    box-shadow: 0 0 0 0.2rem rgba(#333, 0.5);
                }
            }
            li {
                &.hidden_label {
                    input {
                        margin-top: 0px;
                    }
                }
            }
        }
    }
}
