.flexible-content {
    .flexible-opacity-text {
    	.top-banner {
    		width: 100%;
    	}
        .overlay {
            position: relative;
            display: flex;
            justify-content: flex-end;
            >div {
                width: 100%;
                max-width: 80%;
                padding: 50px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                flex-direction: column;
                max-width: 600px;
                padding-top: 4.5rem;
                padding-bottom: 4.5rem;
                @include media-breakpoint-up(lg) {	
                    padding-right: 10%;
                    max-width: calc(600px + 10%);
                }
                @include media-breakpoint-down(md) {
                    padding-top: 0px;
                    padding-bottom: 0px;
                    min-height: auto !important;
                    padding-top: 4.5rem;
                    padding-bottom: 0rem; 
                }
            }

        }
        @include media-breakpoint-down(md) {
            .gallery {
                position: relative;
                height: auto;
            }
        }
    }
}