svg {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    .background {
        fill: rgba(0, 0, 0, 0);
    }

    .foregroundHover {
        fill: none;
        stroke: rgba(256, 256, 256, 0);
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3px;
        stroke-dasharray: 200;
        stroke-dashoffset: 200;
        transition: all 3s ease;
    }

    .foreground {
        fill: none;
        stroke: theme-color("primary");
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3px;
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 0.1s ease;
    }

    .over {
        fill: theme-color("primary");
        transition: fill 3s ease;
    }

    .SVG-container:hover {
        .foreground {
            stroke-dasharray: 200;
            stroke-dashoffset: 200;
            transition: stroke-dashoffset 3s linear;
        }

        .foregroundHover {
            stroke: rgba(256, 256, 256, 1);
            stroke-dashoffset: 0;
        }

        .over {
            fill: rgba(256, 256, 256, 1);
        }
    }
}

@-moz-document url-prefix() {
    svg {
        height: unset;
        max-height: unset;
    }
}
